@font-face {
    font-family: 'NerdFont';
    src: url('./fonts/MesloLGM.ttf') format('truetype'); /* Ensure the path is correct */
    font-weight: 400; /* Normal weight */
    font-style: normal; /* Normal style */
    font-stretch: normal; /* Default stretch */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0 40px;
}

.ec-event-body {
    margin-left: 0.1rem !important;
}

@media (max-width: 576px) {
    body {
        padding: 0;
    }

    html {
        font-size: 12px;
    }

    h4 {
        margin-top: 0;
    }
}

.row {
    display: flex;
}

.col {
    flex: 1 1 0;
    min-width: 0;
    max-width: 100%;
}

.ec {
    height: 640px;
}

.ec.ec-day-grid {
    height: 400px;
}

@media (min-width: 576px) {
    .ec {
        height: 700px;
    }

    .ec.ec-day-grid {
        height: 500px;
    }
}

@media (min-width: 992px) {
    .ec {
        height: 800px;
    }

    .ec.ec-day-grid {
        height: 700px;
    }
}

@media (min-width: 1200px) {
    .ec.ec-day-grid {
        height: 800px;
    }
}

/* Dark theme */
body.ec-dark {
    background: #22272e;
    color: #adbac7;
}

body:not(.ec-dark) svg.dark {
    display: none;
}

body.ec-dark svg.light {
    display: none;
}

.toggle-dark-button {
    color: inherit;
    border: 0;
    background: 0 0;
    opacity: .8;
    cursor: pointer;
    padding-top: .2rem;
    padding-bottom: .5rem;
}

.toggle-dark-button svg {
    width: 1.25rem;
    height: 1.25rem;
}

/* eventDetails.css */
.event-details-box {
    color: inherit;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 3000;
    width: 400px;

    font-family: Arial, sans-serif;
    font-size: 14px;
}

.ec-dark .event-details-box {
    color: #adbac7;
    background-color: #22272e; /* Dark background for the box */
    border: 1px solid #5c697c; /* Slightly lighter border */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* More pronounced shadow for depth */
}

.event-details-box strong {
    font-size: 16px;
    display: block;
}

.event-details-box:hover {
    cursor: pointer;
}

.event-details-box .title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
}

.event-details-box .desc {
    font-size: 14px;
    margin-bottom: 5px;
}

.event-details-box .subtext {
    font-size: 12px;
    color: #666;
}

.nerd-icon {
    font-family: 'NerdFont', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.ec-past-event {
    /* opacity: 0.25; */
}

.dropdown {
    color: inherit;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 4px;
    min-width: 50px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.ec-dark .dropdown {
    color: #adbac7;
    background-color: #22272e;
    border: 1px solid #5c697c;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.dropdown .dropbtn {
    font-size: 15px;
    font-weight: bold;
}

.invis {
    opacity: 0;
}
